#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 3px solid black;
    width: 500px;
    height: 500px;
}

.gamesquare {
    display: flex;
    background-color: #F7E9CA;
    border: 2px solid black;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

#playerInformation {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    width: 60%;

}



